@charset "utf-8";

body {
    color: rgb(7, 7, 7);
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 30px;
    font-weight: bold;

    margin-left: 200px;
    margin-right: 200px;
    
    text-align: center;

    background-image: url(film.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

h1, h2 {
    font-size: 50px;
    text-shadow: 1.5px 1.5px 1.5px;
    margin-top: 250px;
    margin-bottom: 60px;}

h3 {color: rgba(29, 1, 1, 0.886);
    font-size: 40px;
    text-shadow: 1.5px 1.5px 1.5px;
    margin-top: 200px;
    margin-bottom: 100px;}

a {color: rgba(105, 7, 7, 0.958);
    text-decoration: none;}

ul {
    list-style: none;
    padding: 0;
    margin-top: 100px;
}

table {
    margin-top: 150px;
    margin-left: 70px;
    width: auto;

    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #0a0a0ad7;
}

nav a {
    color: #100206eb;
    clolist-style: none;
    padding: 0;

}

footer a {
    color: #0a0a0ad7;
    clolist-style: none;
    padding: 0;
}